numpy
pymongo
zarr
scikit-learn
pandas
python-catmaid
neuroglancer
cloud-volume
navis
https://github.com/funkelab/daisy/archive/refs/heads/main.zip
https://github.com/funkelab/funlib.math/archive/refs/heads/main.zip
https://github.com/funkelab/funlib.persistence/archive/refs/heads/main.zip
https://github.com/funkelab/funlib.learn.tensorflow/archive/refs/heads/main.zip
https://github.com/funkelab/gunpowder/archive/refs/heads/main.zip
https://github.com/funkelab/funlib.show.neuroglancer/archive/refs/heads/main.zip
tensorflow-gpu>=1.15,<2.0
